* {
  box-sizing: border-box;
}
body {
  background-color: rgb(39, 111, 111);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  margin: 20px;
}
.container {
  background-color: rgb(163, 208, 208);
  border-radius: 20px;
  box-shadow: 0 5px 10px rgb(194, 196, 196);
  width: 400px;
  max-width: 100%;
}
.header {
  padding: 20px 40px;
  background-color: rgb(208, 242, 242);
  border-bottom: 1px solid #f0f0f0;
}
.header h2 {
  margin: 0;
}
.form {
  padding: 30px 40px;
}
