* {
  box-sizing: border-box;
}
body {
  background-color: rgb(39, 111, 111);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  margin: 20px;
}
.container {
  background-color: rgb(163, 208, 208);
  border-radius: 20px;
  box-shadow: 0 5px 10px rgb(194, 196, 196);
  width: 400px;
  max-width: 100%;
}
.header {
  padding: 20px 40px;
  background-color: rgb(208, 242, 242);
  border-bottom: 1px solid #f0f0f0;
}
.header h2 {
  margin: 0;
}
.form {
  padding: 30px 40px;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control label {
  display: inline;
  margin-bottom: 10px;
}
.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 6px;
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  padding: 10px;
  width: 100%;
}

.form-control i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}
.form-control.success input {
  border-color: green;
}
.form-control.error input {
  border-color: red;
}
.form-control.success i.fa-check-circle {
  color: green;
  visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  color: red;
}
.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: o;
  left: 0;
}
.form-control.error small {
  color: red;
  visibility: visible;
}
.form button {
  background-color: rgb(39, 111, 111);
  border: 2px solid rgb(39, 111, 111);
  border-radius: 6px;
  color: #fff;
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

h2 {
  text-align: center;
}
